.header {
    font-family: 'Poppins', sans-serif;
      min-height: 80vh;
      background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
        url(images/universityback.jpg);
      background-position: center;
      background-size: cover;
      margin-bottom: 50px;
    }
    .main{
      margin-top: 2%;
      margin-left: 35%;
      margin-right: 25%;
      width: 400px;
      padding: 10px;
    }
    .head{
      padding: 20px;
    }